{% extends 'hospital/home.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Department List</title>
</head>
<body>
    <br><br>
    <div class="container-fluid bg-light rounded p-5">
        <form action="" method="POST">
            {% csrf_token %}
                <h1>New password</h1>
                <hr>
            <div class="form-floating">
                <input class="form-control" type="password" name="password" id="pass" placeholder="pass">
                <label for="pass">New password</label>
            </div>
            <div class="form-floating mt-3">
                <input class="form-control" type="password" name="conf_password" id="pass" placeholder="conf_pass">
                <label for="pass">Confirm password</label>
            </div>
            <div>
                <button type="submit mt-3" class="btn btn-primary">Update</button>
            </div>

        </form>
    </div>
</body>
</html>

{% endblock %}